@tailwind base;
@tailwind components;
@tailwind utilities;

._trfeet {
    background-color: rgb(255, 255, 255);
    color: rgb(97, 97, 97);
    font-size: 12px;
    line-height: 18px;
    padding: 0px 10px;
}